div.overlay-dialogue {

opacity: 0.95;

 position: fixed;
 display: none;
 width: 50%;
 height: 50%;
 
 top: 25%;
 bottom: 25%;
 left: 25%;
 right: 25%;
 
 background: #F4F2F2;
 
 padding: 0px 15px 0px 15px;
 overflow-y: auto;
 animation: START 0.3s ease-in-out;
 
}

div.overlay-dialogue2 {


opacity: 0.95;

 position: fixed;
 display: none;
 width: 20%;
 height: 50%;
 
 top: 25%;
 bottom: 25%;
 left: 5%;
 right: 45%;
 
 background: #F4F2F2;
 
 padding: 0px 15px 10px 15px;
 overflow-y: auto;
 animation: START 0.3s ease-in-out;
 
}


input[type=checkbox].smoosh:checked ~ div.overlay-dialogue {
 display: block;
 z-index: 5005;
}

input[type=checkbox].smoosh2:checked ~ div.overlay-dialogue2 {
 display: block;
 z-index: 5005;
}

.smoosh {
 display: none;
 line-height: 0;
 margin: 0 0 0 0;
 padding: 0 0 0 0;
 color: transparent;
 background: transparent;
 border: none;
 outline: none;
 height: 0;
 width: 0;
}

.smoosh2 {
 display: none;
 line-height: 0;
 margin: 0 0 0 0;
 padding: 0 0 0 0;
 color: transparent;
 background: transparent;
 border: none;
 outline: none;
 height: 0;
 width: 0;
}

@keyframes START {
 0% {transform: rotateY(55deg); opacity: 0;}
 100% {transform: rotateY(0deg); opacity: 1;}
}

