body {
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-color : white;
		}


.upper_left {
		background-color:white;
		text-align:center;
		height: 10%;
		width: 10%;
			
		position: absolute;
		top: 10px;
		left: 10px;
	
		}

.add_task{
		color:blue;
		font-family:"Verdana", sans-serif;
		font-weight:bold;
		
		text-align:center;
		height: 5%;
		width: 60px;
			
		position: absolute;
		top: 10px;
		left: 10px;
		}

.delete_task{
		color:blue;
		font-family:"Verdana", sans-serif;
		font-weight:bold;
		
		text-align:center;
		height: 5%;
		width: 60px;
			
		position: absolute;
		top: 10px;
		left: 75px;
		}
		
.upper_right {
		background-color:white;
		text-align:center;
		height: 10%;
		width: 10%;
			
		position: absolute;
		top: 10px;
		right: 10px;
		}

.lower_left {
		background-color:white;
		text-align:center;
		height: 10%;
		width: 10%;
		
		position: absolute;
		bottom: 10px;
		left: 10px;
			
		}


		
		
.lower_right {
		text-align:center;
		height: 10%;
		width: 10%;
		
		position: absolute;
		bottom: 10px;
		right: 10px;
	
		color:white;
		font-family:"Verdana", sans-serif;
		font-weight:bold;
		text-align: center;
		vertical-align: middle;
		line-height: 50px;
		}

.center {
		text-align:center;
		height: 20%;
		width: 50%;

		position: absolute;
		top:0;
		bottom: 0;
		left: 0;
		right: 0;

		margin: auto;
		}	

.uppertop {
		z-index : 5000;
		text-align:center;
		height: 10%;
		width: 50%;

		position: absolute;
		top: 10px;
		left: 0px;
		right: 0px;

		margin: auto;
		
		color:white;
		font-family:"Verdana", sans-serif;
		font-size:2vw;
		text-align: center;
		}

.close{
		background-color:red;
		text-align:center;
		height: 20px;
		width: 20px;
		
		position: absolute;
		top: 10px;
		right: 10px;
		}

			
			
.clockStyle{
		color:white;
		font-family:"Verdana", sans-serif;
		font-size:10vw;
		letterspacing:4px;
		text-align: center;
		vertical-align: middle;
		}

.greetingStyle{
		color:white;
		font-family:"Verdana", sans-serif;
		font-size:4vw;
		text-align: center;
		vertical-align: middle;
		}
		
		
ul{
	margin:20px 0 0 0;
    width:100%;
}

li{
	font-weight:bold;
	display: inline-block;
    
    float:left;
    height:auto;
    margin:0 10px 10px 0;
    width:70%;
}

li:nth-child(even){
	width:10%;
    margin-right:0;
}

#task_delete
{
	color: red;
	font-weight:bold;
}

